    .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    }

    .modal {
    width: 50vw;
    min-height: 300px;
    background: #222;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    }

    .header {
    padding: 16px;
    border-bottom: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .header button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    }

    .body {
    padding: 24px;
    }

    .loaderBox {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    }

    .item {
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
    }

    .item:hover {
    color: #0aad0a;
    }
